// Custom styles.
body {
    background:url(/http://img0.imgtn.bdimg.com/it/u=1848230215,396083450&fm=214&gp=0.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size:cover;
}
